* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: 'montserrat', sans-serif;
    color: #fff;
}

body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 14px;
}

body::-webkit-scrollbar-track {
    background-color: #000000;
}

body::-webkit-scrollbar-thumb {
    background-color: #95C11E;
    border-radius: 0.5rem;
}

header {
    width: 100%;
}

#navbar {
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 140px;
    position: fixed;
    z-index: 99;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.nav2 {
    display: flex;
    gap: 10px;
}

.nav2 a {
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 15px 40px;
    border: 4px solid #95C11E;
    border-radius: 30px;
    background-color: #000000;
}

.nav1 img {
    width: 130px;
    height: 130px;
}

.nav-links,
.nav1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
}

#cursor {
    width: 25px;
    height: 25px;
    background-color: #95C11E;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}

#cursor-blur {
    width: 550px;
    height: 550px;
    background-color: #88b117b7;
    border-radius: 50%;
    position: fixed;
    z-index: 10;
    filter: blur(250px);
}

/*  */

main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.39);
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;
}

#page1 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 10;
}

#page1 h1 {
    font-size: 170px;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
}

#page1 h1:before {
    content: "Eat. Drink. Play.";
    color: black;
    position: absolute;
    top: -5px;
    left: -5px;
    z-index: -1;
    -webkit-text-stroke: 2px #95C11E;

}

#page1 h2 {
    font-size: 38px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 10px 0 20px 0;
}

#page1 p {
    font-size: 26px;
    font-weight: 500;
    width: 35%;
    line-height: 35px;
}

#page2 {
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}

#scroller {
    white-space: nowrap;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}

#scroller::-webkit-scrollbar {
    display: none;
}

.scroller-in {
    display: flex;
    animation: slide 25s linear infinite;
    white-space: nowrap;
    z-index: 10;

}

.scroller-in span {
    font-size: 140px;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
    margin-right: 1.8rem;
    transition: color 0.5s ease;
}

.scroller-in span:hover {
    color: #95C11E;
    -webkit-text-stroke: 0;
}

#about-us {
    width: 100%;
    height: 40vh;
    margin: 4vw 0;
    position: relative;
    z-index: 10;
}

#about-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about-container img,
#about-container img {
    width: 240px;
    height: 280px;
    border-radius: 10px;
    filter: blur(0.6px);
    object-fit: cover;
}

.about-center {
    text-align: center;
    width: 55%;
    line-height: 45px;
}

.about-center h2 {
    text-transform: uppercase;
    font-size: 65px;
    font-weight: 900;
    margin: 20px;
}

.about-center p {
    font-size: 28px;
    font-weight: 300;
    margin: 2vw 0;
}

@keyframes slide {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(-100%);
    }
}

#images {
    width: 100%;
    height: 70vh;
    position: relative;
    z-index: 10;
    padding: 2rem 0;
}

#image-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}


.image-card {
    height: 100%;
    width: 26%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.img-content-overlay{
    opacity: 0;
    transition: opacity  1s ease;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 30px;
    width: 100%;
}
.image-card:hover .img-content-overlay{
    opacity: 1;
    background-color: #AAD72F;
}
.img-content-overlay h2{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 900;
    color: #000;
    margin-bottom: 2rem;
}
.img-content-overlay p{
    font-size: 1.5rem;
    letter-spacing: 1px;
    line-height: 40px;
    color: #000;
}

#card1 {
    background-image: url("https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1");
}

#card2 {
    background-image: url("https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4-1024x1024.jpg?strip=all&lossy=1&sharp=1&ssl=1");
}

#card3 {
    background-image: url("https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1");
}